---
const {src, alt, titulo, subtitulo} = Astro.props
---

<div class="bg-white flex items-center rounded-lg">
    <div class="w-[30vw] h-[150px] lg:w-[20vw] border-r-2 border-slate-300 flex justify-center">
      <img src={src} alt={alt} class="w-[100px]">
    </div>
    <div class="w-[60vw] p-2 "> 
      <h4 class="text-black text-center p-2">{titulo}</h4>
      <p class="text-center text-black">{subtitulo}</p>
    </div>
  </div>