---

---

<header class="flex justify-between w-[100%] bg-zinc-900">
    <img class="h-[60px] my-auto ml-3" src="./imagenes/Logo.webp" alt="Logo Desarrollador Fullstack">
    <button class="p-5 lg:hidden" id="abrir"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#ffffff" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg></button>
    <nav id="menu" class="w-[40%] max-lg:hidden max-lg:w-[50vw] bg-zinc-900 max-lg:h-[100vh] max-lg:absolute max-lg:top-0 max-lg:right-0 max-lg:shadow-[0px_0px_0px_100vmax_rgba(0,0,0,0.5)]">
        <ul class="flex justify-around h-[80px] items-center text-white text-lg max-lg:flex-col max-lg:justify-arround max-lg:h-[60vh] max-lg:p-5">
            <li><button id="cerrar"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x lg:hidden" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button></li>
            <li class="hover:text-blue-500 ease-out duration-300"><a href="#about">Sobre mi</a></li>
            <li class="hover:text-blue-500 ease-out duration-300"><a href="#skills">Skills</a></li>
            <li class="hover:text-blue-500 ease-out duration-300"><a href="#f">Portafolio</a></li>
            <li class="hover:text-blue-500 ease-out duration-300"><a href="#f">Formacion</a></li>
            <li class="hover:text-blue-500 ease-out duration-300"><a href="#f">Contacto</a></li>
        </ul>
</nav>
</header>

<style>
    h1, h2{
        color: white;
    }
</style> 

<script>
    const menu = document.getElementById("menu");
    const abrir = document.getElementById("abrir")
    const cerrar = document.getElementById("cerrar")

    abrir.addEventListener("click", () =>{
    menu.classList.remove("max-lg:hidden")
    })
    cerrar.addEventListener("click", () =>{
    menu.classList.add("max-lg:hidden")
    })
</script>
